.BannerMain {
    position: relative;
    background: url('../../assets/BannerPrimoFeliz.jpg') no-repeat;
    background-size: cover;
    height: 400px;
    padding: 7rem 5% 0;
}

.title {
    color: var(--header-text-color);
    font-size: 40px;
}

@media (max-width: 800px) {
    .BannerMain {
        position: relative;
        background-position: center;
        height: 360px;
        padding: 3rem 2rem 0
    }
}